.vs
_ReSharper.Caches
Binaries
DerivedDataCache
Intermediate
Saved
/*.sln
*.uasset
*.umap
*rube-backups
*json-backups
*.dds
*.png

/.vsconfig
/Build/Windows/FileOpenOrder/*.log
/Rube
/enc_temp_folder
/Backup/*.sln
*.ogg
*.xmp
